*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 3rem;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 90%;
    justify-items: center;
}

.carta {
    aspect-ratio: 1 / 1;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 1rem;
    margin-top: 1rem;
}

.p{
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
    font-weight: normal;
    text-transform: capitalize;

}

.carta:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

/** Colores de cartas */
.azul {
    background-color: #287fe4;
    color: white;
}

.amarillo {
    background-color: #eadb00;
}

.rosa { 
    background-color: #dda8c4;
}
